# Node
node_modules/
build/
dist/

# Python
venv/
.venv/
__pycache__/
*.pyc

# Environment
.env
.env.local
.env.development.local
.env.test.local
.env.production.local

# ML files
*.pkl
*.joblib
*.csv
*.ipynb

# Logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# OS files
.DS_Store
Thumbs.db

# VS Code
.vscode/